<p><span><strong>Este es el título de mi maravillosa tesis que puede que pille más de una línea<br />
</strong></span></p>
<p><img src="escudougr.png" alt="image" /></p>
<p><span>Fulanito de Tal</span></p>
<p>Junio 2020</p>
<p>Tesis dirigida por:</p>
<p>fdo. Fulanito de Tal</p>
<p>Tesis presentada por:</p>
<p>fdo. Menganito de Cual</p>
<h1 id="introducción">Introducción</h1>
<h2 id="antecedentes">Antecedentes</h2>
<p>Lorem ipsum (dos–uno) 4 dolor sit amet, consectetur adipiscing elit. Nullam at cursus nulla <span class="citation" data-cites="Bergmann1987"></span>. Nam luctus vestibulum libero vel gravida. Suspendisse fringilla dui sed leo dictum, nec sollicitudin ligula faucibus <span class="citation" data-cites="Chen2020"></span>. Donec ornare, nisi sed condimentum ultrices, tellus nisl fermentum justo, ut convallis sapien est eu sem. Sed congue aliquam iaculis. Vivamus laoreet non turpis eget malesuada. Proin sed diam sit amet felis placerat volutpat <span class="citation" data-cites="Chaboissier2004"></span>. Duis porta consectetur facilisis (Figura <a href="#fig:his" data-reference-type="ref" data-reference="fig:his">1.1</a> en la página ).</p>
<p>ejemplo de una minipágina:</p>
<pre><code>\begin{minipage}[c]{5cm}
    Tesis presentada por:
    
    \vspace{3cm}
    
    fdo. Menganito de Cual
    
\end{minipage}</code></pre>
<p><span class="citation" data-cites="Dadhich2011a"></span> dijo que: Donec finibus nulla dolor, non tempus diam ullamcorper vitae. Sed augue sem, blandit nec pulvinar vel, ultricies et arcu. Curabitur <span class="citation" data-cites="Mruk2004"></span> et congue justo, sed elementum quam. Nunc vel turpis eu nibh gravida ultrices in et nunc. Proin interdum varius nibh et fringilla. Suspendisse egestas augue sit amet justo sagittis laoreet. Sed iaculis <span class="math inline">$\sum_{i=0}^{200} x^i+b$</span> in ligula quis ultrices. Sed quis odio quis lacus aliquet dignissim at non velit. Maecenas ultrices quam felis. Quisque sem lorem, suscipit eu nibh vel, rutrum tincidunt sem (Figura <a href="#fig:cariotipo" data-reference-type="ref" data-reference="fig:cariotipo">1.2</a>. Pág. ).</p>
<p><br /><span class="math display">$$\sum_{i=0}^{200} x^i+b$$</span><br /></p>
<p><br /><span class="math display">$$x = \frac{-b \pm\sqrt{b^2 -4ac}}{2a}$$</span><br /></p>
<p><span class="math inline"><em>β</em></span>-galactosidasa . Donec <span class="math inline"><em>x</em><sup>123</sup></span> finibus<span class="math inline"><sup><em>u</em></sup></span> nulla <span class="math inline"><em>a</em> <em>b</em>  <em>c</em>   <em>d</em></span> dolor, non tempus diam ullamcorper vitae. Sed augue sem, blandit nec pulvinar vel, ultricies et arcu. Curabitur et congue justo, sed elementum quam. Nunc vel turpis eu nibh gravida ultrices in et nunc. Proin interdum varius nibh et fringilla. Suspendisse egestas augue sit amet justo sagittis laoreet. Sed iaculis in ligula quis ultrices. Sed quis odio quis lacus aliquet dignissim at non velit. Maecenas ultrices quam felis. Quisque sem lorem, suscipit eu nibh vel, rutrum tincidunt sem.</p>
<figure>
<img src="fish2.png" id="fig:his" alt="" /><figcaption><strong>Cromosomas de planta</strong>: Esta es la figura que hemos modificado en Gimp. Se observan unos cromosomas de planta con una hibridación <em>in situ</em> donde se puede ver en rosa las regiones donde ha hibridado la sonda</figcaption>
</figure>
<figure>
<img src="fish.jpg" id="fig:cariotipo" alt="" /><figcaption>Aquí va el texto que acompaña a la figura</figcaption>
</figure>
<p>Aenean purus nulla, commodo faucibus placerat vel, posuere vitae massa. Donec ac mi imperdiet, viverra magna sed, lobortis quam. Donec metus orci, vestibulum sed enim eu, mollis egestas leo. Proin facilisis magna at turpis elementum volutpat. Curabitur iaculis felis eget mi euismod, ut gravida nibh ultrices. Curabitur ac tortor magna. Donec ullamcorper justo ac venenatis iaculis. Nam at bibendum urna, ac tempor mi. Morbi vel nisl nec metus venenatis tincidunt quis non est. Maecenas ac tortor sed risus facilisis rhoncus at quis arcu (ver Cuadro <a href="#tab:cosas" data-reference-type="ref" data-reference="tab:cosas">1.1</a>. Pág. ).</p>
<div id="tab:cosas">
<table>
<caption><strong>Tabla de cosas:</strong> Relación entre colores, números y tamaños</caption>
<tbody>
<tr class="odd">
<td style="text-align: left;"></td>
<td style="text-align: center;"></td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
</tr>
<tr class="even">
<td style="text-align: left;"><strong>col1</strong></td>
<td style="text-align: center;"><strong>col2</strong></td>
<td style="text-align: right;"><strong>col3</strong></td>
<td style="text-align: left;"><strong>col4</strong></td>
<td style="text-align: right;"></td>
<td style="text-align: left;"></td>
</tr>
<tr class="odd">
<td style="text-align: left;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: right;">tres</td>
<td style="text-align: left;">Este es u</td>
<td style="text-align: right;">34</td>
<td style="text-align: left;">543</td>
</tr>
<tr class="even">
<td style="text-align: left;">rojo</td>
<td style="text-align: center;">verde</td>
<td style="text-align: right;">azul</td>
<td style="text-align: left;">Este es otro</td>
<td style="text-align: right;">1235</td>
<td style="text-align: left;">76</td>
</tr>
<tr class="odd">
<td style="text-align: left;">pequeño</td>
<td style="text-align: center;">mediano</td>
<td style="text-align: right;">grande</td>
<td style="text-align: left;">Y otro texto más</td>
<td style="text-align: right;">0</td>
<td style="text-align: left;">6785432</td>
</tr>
</tbody>
</table>
</div>
<h2 id="nueva-sección-para-ver-lo-que-hace-con-los-elementos-flotantes">Nueva sección para ver lo que hace con los elementos flotantes</h2>
<p>Donec finibus nulla dolor, non tempus diam ullamcorper vitae. Sed augue sem, blandit nec pulvinar vel, ultricies et arcu. Curabitur et congue justo, sed elementum quam. Nunc vel turpis eu nibh gravida ultrices in et nunc. Proin interdum varius nibh et fringilla. Suspendisse egestas augue sit amet justo sagittis laoreet. Sed iaculis in ligula quis ultrices. Sed quis odio quis lacus aliquet dignissim at non velit. Maecenas ultrices quam felis. Quisque sem lorem, suscipit eu nibh vel, rutrum tincidunt sem (Figura <a href="#fig:cariotipo" data-reference-type="ref" data-reference="fig:cariotipo">1.2</a>. Pág. ).</p>
<p>Fusce id risus blandit, eleifend augue in, congue sem. Fusce semper quis nunc in vestibulum. Etiam eu lectus sed lacus molestie iaculis. Phasellus arcu nunc, pretium eget ante id, eleifend fringilla leo. Nam tincidunt risus ac odio imperdiet interdum. Quisque quis finibus ipsum. Praesent bibendum tincidunt molestie. Vivamus suscipit dui diam, vitae imperdiet nisi tempor quis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Quisque ut nisl et eros condimentum posuere at non sapien. Fusce mattis, risus et lobortis condimentum, elit velit lobortis orci, vitae consequat ligula risus in mi.</p>
<table>
<tbody>
<tr class="odd">
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
</tr>
<tr class="even">
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
</tr>
<tr class="odd">
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
</tr>
<tr class="even">
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr class="odd">
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
</tr>
<tr class="even">
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
</tr>
<tr class="odd">
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
</tr>
<tr class="even">
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
</tr>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr class="even">
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
</tr>
<tr class="odd">
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
</tr>
<tr class="even">
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
</tr>
<tr class="odd">
<td style="text-align: center;">uno</td>
<td style="text-align: center;">dos</td>
<td style="text-align: center;">tres</td>
</tr>
</tbody>
</table>
<table>
<tbody>
<tr class="odd">
<td style="text-align: center;">a</td>
<td style="text-align: center;">b</td>
<td style="text-align: center;">c</td>
<td style="text-align: center;">d</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">i</td>
<td style="text-align: center;">j</td>
<td style="text-align: center;">k</td>
<td style="text-align: center;">l</td>
</tr>
<tr class="even">
<td style="text-align: center;">w</td>
<td style="text-align: center;">x</td>
<td style="text-align: center;">y</td>
<td style="text-align: center;">z</td>
</tr>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
</tbody>
</table>
<table>
<thead>
<tr class="header">
<th style="text-align: left;"><span><span class="sans-serif">LONDON</span></span></th>
<th style="text-align: center;"></th>
<th style="text-align: center;"></th>
<th style="text-align: center;"></th>
<th style="text-align: center;"></th>
<th style="text-align: center;"><strong><span class="smallcaps">GBP</span></strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: left;">Sydney</td>
<td style="text-align: center;">OG4G</td>
<td style="text-align: center;">Thu Oct 10</td>
<td style="text-align: center;">Mon Oct 21 or 28</td>
<td style="text-align: center;">11 or 18 days</td>
<td style="text-align: center;"><strong>999<span class="smallcaps">GBP</span></strong></td>
</tr>
<tr class="even">
<td style="text-align: left;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;">Thu Oct 17</td>
<td style="text-align: center;">Mon Oct 21 or 28</td>
<td style="text-align: center;">4 or 11 days</td>
<td style="text-align: center;"><strong>999<span class="smallcaps">GBP</span></strong></td>
</tr>
<tr class="odd">
<td style="text-align: left;"></td>
<td style="text-align: center;">OG7A</td>
<td style="text-align: center;">Sun Oct 13</td>
<td style="text-align: center;">Mon Oct 21 or 28</td>
<td style="text-align: center;">8 or 15 days</td>
<td style="text-align: center;"><strong>999<span class="smallcaps">GBP</span></strong></td>
</tr>
<tr class="even">
<td style="text-align: left;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;">Sun Oct 20</td>
<td style="text-align: center;">Mon Oct 28</td>
<td style="text-align: center;">8 days</td>
<td style="text-align: center;"><strong>999<span class="smallcaps">GBP</span></strong></td>
</tr>
</tbody>
</table>
<p>Maecenas <span>erat</span> <span style="color: red">massa</span>, fringilla ac lacinia in, scelerisque vitae eros. Mauris nec neque arcu. Ut placerat lorem mattis lorem interdum tristique. Quisque ut lorem dapibus, sodales turpis sed, mollis lacus. Etiam nisi mi, lacinia vitae vulputate ac, imperdiet at enim. Aenean eu dignissim enim. Nullam luctus urna at augue vulputate commodo. In maximus pulvinar sem eget ornare. Praesent id enim aliquam, sollicitudin mi eu, auctor lacus. fulanito dijo —In fringilla lorem eleifend consectetur maximus —.</p>
<p>uno - dos – tres — cuatro pag 4–6</p>
<table>
<caption>A simple longtable example</caption>
<thead>
<tr class="header">
<th style="text-align: center;"><strong>Primera</strong></th>
<th style="text-align: center;"><strong>segunda</strong></th>
<th style="text-align: center;"><strong>tercera</strong></th>
<th style="text-align: center;"><strong>cuarta</strong></th>
</tr>
</thead>
<tbody>
<tr class="odd">
<td style="text-align: center;"><span>Table  – <em>Continued from previous page</em></span></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr class="even">
<td style="text-align: center;"><strong>First entry</strong></td>
<td style="text-align: center;"><strong>Second entry</strong></td>
<td style="text-align: center;"><strong>Third entry</strong></td>
<td style="text-align: center;"><strong>Fourth entry</strong></td>
</tr>
<tr class="odd">
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
<td style="text-align: center;"></td>
</tr>
<tr class="even">
<td style="text-align: center;"></td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="even">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
<tr class="odd">
<td style="text-align: center;">1</td>
<td style="text-align: center;">2</td>
<td style="text-align: center;">3</td>
<td style="text-align: center;">4</td>
</tr>
</tbody>
</table>
<h2 id="ejemplos-de-columnas">Ejemplos de columnas</h2>
<p><span>3</span> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras pellentesque neque a luctus luctus. Vivamus a arcu nibh. Proin nec est risus. Sed ullamcorper, tellus nec ullamcorper lobortis, nunc sapien luctus nulla, quis commodo elit ligula vel tellus. Integer fermentum leo ut tellus elementum efficitur. Praesent ac arcu ac lacus tempus auctor et nec dui. Fusce sed ante sed tortor sagittis dignissim. Nulla gravida iaculis dui sit amet congue. Ut pulvinar semper ante, consequat feugiat nunc venenatis eu.</p>
<p><img src="escudougr.png" alt="image" /></p>
<p>Sed vel sollicitudin augue. Aliquam dictum libero sit amet egestas ultricies. Nullam interdum sagittis volutpat. Suspendisse tristique elit auctor nisi dignissim, sed lacinia ligula faucibus. In posuere sodales porttitor. Aenean bibendum arcu sit amet sodales auctor. Vivamus neque enim, dignissim in ultricies consequat, porta sed sapien. Duis aliquam neque id risus pulvinar, in vulputate felis commodo. Mauris laoreet, augue a sagittis fermentum, augue est venenatis nulla, quis auctor dui urna ac lectus. Pellentesque non dui luctus, condimentum ante nec, aliquam tortor. Nulla a pellentesque mi, sit amet accumsan nisi. Praesent vitae dui pellentesque, porttitor nisi ut, elementum ex. Pellentesque in vulputate ipsum, quis pretium ex.</p>
<p>Nunc dapibus viverra condimentum. Nam nec turpis eget felis congue malesuada in ac nibh. Cras pretium laoreet dui, at vehicula ipsum ullamcorper nec. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Fusce sodales, neque feugiat interdum sodales, augue massa pharetra neque, sed porta sapien diam et nibh <span class="citation" data-cites="Fulanito2020"></span>. Nulla sed tellus at purus gravida vehicula vel ut diam. Vivamus convallis non eros tincidunt eleifend <span class="citation" data-cites="Reker2020"></span>.</p>
